body {
  text-align: center;
  background-color: bisque;
  color: gray;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  color: darkgrey;
  font-family: "Oswald", serif;
  font-size: 48px;
  margin: 12px;
  /* ksh 30k new connection + 40k ksh 20k */
  /* text-decoration: underline; */
}
h2{
    font-family: "Oswald", serif;
    font-weight: 900;
    color: rgb(73, 70, 70);
    margin: 0;
}
p {
  /* margin: 10px; */
  font-family: "Fira Sans", sans-serif;
  color: gray;
}
a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  background-color: rgb(179, 65, 118);
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 18px;
  border-radius: 10px;
}
a:hover {
  color: black;
  text-decoration: underline;
  font-weight: bold;
  background-color: aliceblue;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
ul{
    list-style-type: none;
    width: 500px;
    margin: 36px auto 0 auto;
    padding: 0px;
}
li {
  display: block;
  font-size: 18px;
  padding: 8px;
  background-color: coral;
  /* padding: 16px 16px 8px 0px; */
  border-radius: 10px;
  margin:32px;
}
