body{
    text-align: center;
}

h1{
    color: darkgrey;
    font-family: sans-serif;
    text-align: center;
    /* text-decoration: underline; */
}
p{
    margin: 10px;
    font-family: sans-serif;
    color: gray;
}
a{
    color: gray;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: wavy;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 100px;

}