body {
  margin: 0, 0, 0, 0;
  font-family: sans-serif;
  background-color: aliceblue;
}
h1 {
  text-align: center;
  color: rgb(48, 47, 36);
  font-size: 30px;
  font: inherit;
  text-transform: capitalize;
  margin: 0;
  padding-bottom: 16px;
  font-weight: bold;
}
h2 {
  text-align: start;
  font-size: 18px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
}
.contact_us_form {
  margin: 0 auto;
  width: 50%;
  background-color: rgb(196, 200, 219);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 6px;
  font-size: 16px;
}
.contact_us_form input {
  border-radius: 3px;
  width: 100%;
  padding: 8px;
  margin-bottom: 18px;
  font-size: 18px;
  border: 2px solid black;
}
.contact_us_form label {
  padding-top: 8px;
  margin-top: 0.5rem;
  font-size: 18px;
}
.contact_us_form input:focus {
  border: 2px solid rgb(45, 125, 244);
  background-color: rgb(117, 117, 115);
}
.contact_us_form select {
  border-radius: 3px;
  width: 100%;
  padding: 18px;
  margin-bottom: 18px;
  font-size: 18px;
  border: 2px solid black;
}
.message input {
  height: 150px;
  /* text start at first line of box and text goes to next line when it reaches end of box */
  vertical-align: top;
  /* text goes to next like /n */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 18px;
  font-size: 18px;
  border: 2px solid black;
}

.reply {
  /* background: white; */
  padding: 20px;
  /* border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; */
}
.inline-control {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  margin: 0;
  box-sizing: border-box;
}
.inline-control input {
  width: auto;
}
.inline-control label {
  font-size: 16px;
  cursor: pointer;
  margin-top: 0px;
  padding-left: 8px;
  /* margin: 4px 0; */
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.submit,
.clear {
  padding: 12px;
  text-align: center;
  font-weight: bold;
  margin-left: 12px;
  border-radius: 8px;
}
.submit {
  background-color: blue;
  color: wheat;
}
